<script setup lang="ts">
import { onMounted } from "vue";

onMounted(() => {
  console.log(
    new Date("2023-08-23"),
    new Date("2023-08-23T00:00"),
    new Date("2023-08T10:00:00.000"),
    new Date("2023-08-23 00:00+09:00")
  )
})
</script>

<template>
  <div class="home">
    home
  </div>
</template>
