<script setup lang="ts">
import postResourceBox from "../components/postResourceBox.vue";
import postUserBox from "../components/postUserBox.vue";
import PostBox from "../components/postBox.vue";
import PostViewBox from "../components/postViewBox.vue";
</script>

<template>
  <div class="post">
    <PostBox />
    <PostViewBox />
    <postUserBox />
    <postResourceBox />
  </div>
</template>
