<script setup lang="ts">
import { ref, onMounted } from 'vue'
import * as THREE from "three";

const treeRef = ref()
const scene = new THREE.Scene();
let camera = new THREE.PerspectiveCamera();
const renderer = new THREE.WebGLRenderer();

onMounted(() => {

  camera = new THREE.PerspectiveCamera(
    75,
    window.innerWidth / window.innerHeight,
    0.1,
    1000
  );

  renderer.setSize(window.innerWidth, window.innerHeight);
  treeRef.value.appendChild(renderer.domElement);

  const geometry = new THREE.BoxGeometry();
  const material = new THREE.MeshBasicMaterial({ color: 0x00ff00 });
  const cube = new THREE.Mesh(geometry, material);
  scene.add(cube);
  camera.position.z = 5;

  const setAni = () => {
    cube.rotation.x += 0.01;
    cube.rotation.y += 0.01;

    renderer.render(scene, camera);
    return setAni
  }
  requestAnimationFrame(setAni())

})

</script>

<template>
  <div class="content-about flex">
    <div ref="treeRef"></div>
  </div>
</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
