<script setup lang="ts">

const props = defineProps<{ msg: string }>()
const { msg } = props
const list = [
  {id: 1, path: "/", name: "home"},
  {id: 2, path: "/about", name: "about"},
  {id: 3, path: "/post", name: "post"},
  {id: 4, path: "/makeStruct", name: "makeStruct"},
]
</script>

<template>
<header class="header flex aitem-center">
  <div class="logo aitem-center">
    <img src="/logo.png"/>
    {{ msg }}
  </div>
  <ul class="list flex">
    <li v-for="item in list" class="item p-1">
      <router-link :to="item.path">{{ item.name }}</router-link>
    </li>
  </ul>
</header>
</template>

<style scoped>
</style>
