<script setup lang="ts">
import { onMounted, ref, reactive } from "vue";
import { fabric } from "fabric";

const fabricCanvas = ref<fabric.Canvas>()
const fabricActions = reactive({
  addImageAction: () => {},
})

const imagePath = ref('')
const colorCode = ref('blue')
const addText = ref('')
const canvasContainer = ref<HTMLDivElement>()
const canvas = ref<HTMLCanvasElement>()

const addImageAction = () => {
  const path = imagePath.value === '' ? 'https://placehold.jp/150x150.png' : imagePath.value
  fabric.Image.fromURL(
    path,
    function(img:fabric.Image) {
      img.crossOrigin = 'Anonymous'
      img.top = 10
      img.left = 10
      if(fabricCanvas.value) {
        fabricCanvas.value.add(img)
      }
    }
  )
}

const addTextAction = () => {
  const text = new fabric.IText(addText.value, {
    left: 10,
    top: 10,
    fontFamily: 'helvetica',
    fill: colorCode.value,
    angle: 0
  })
  if(fabricCanvas.value) {
    fabricCanvas.value.add(text)
  }
}

const addRectAction = () => {
  const react = new fabric.Rect({
    left: 10,
    top: 10,
    fill: colorCode.value,
    width: 100,
    height: 100,
    hasControls: true
  })
  if(fabricCanvas.value) {
    fabricCanvas.value.add(react)
  }
}

onMounted(() => {
  const w = canvasContainer.value?.clientWidth
  if(canvas.value && w) {
    const fCanvas = new fabric.Canvas(canvas.value!)
    // fCanvas.setWidth(w)
    // fCanvas.setHeight(600)
    fabricCanvas.value = fCanvas
    const addImageAction = () => {
      const path = imagePath.value === '' ? 'https://placehold.jp/150x150.png' : imagePath.value
      fabric.Image.fromURL(
          path,
          function(img:fabric.Image) {
            img.crossOrigin = 'Anonymous'
            img.top = 10
            img.left = 10
            if(fabricCanvas.value) {
              fabricCanvas.value.add(img)
            }
          }
        )
    }
      const react = new fabric.Rect({
        left: 10,
        top: 10,
        fill: colorCode.value,
        width: 100,
        height: 100,
        hasControls: true
      })
        fabricCanvas.value.add(react)
    addImageAction()
  }
})

</script>

<template>
<div class="make-strct">
  <div class="actions-box">
    <div class="action-control flex p-1">
      <div class="control-color-box p-1">
        <input
          type="color"
          v-model="colorCode"
        />
      </div>
      <div class="control-image-box p-1 d-inline-b base-hover">
        <img
          src="../assets/pic_line.svg"
          class="pointer"
        />
        <div class="image base-hover-target p-1 float-bg">
          <label class="label">
            画像パス
            <input type="text" v-model="imagePath">
            <button @click="addImageAction">add</button>
          </label>
        </div>
      </div>
      <div class="control-image-box p-1 d-inline-b">
        <img
          src="../assets/artboard_line.svg"
          class="pointer"
          @click="addRectAction"
        />
      </div>
      <div class="control-image-box p-1 d-inline-b base-hover">
        <img
          src="../assets/text_line.svg"
          class="pointer"
        />
        <div class="image base-hover-target p-1 float-bg">
          <label class="label">
            追加テキスト
            <input type="text" v-model="addText">
            <button @click="addTextAction">add</button>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="d" ref="canvasContainer">
    <canvas id="canvas" ref="canvas" width="600" height="500"></canvas>
  </div>
</div>
</template>

<style scoped>
</style>
