<script setup lang="ts">
import { ref } from 'vue'
import Modal from "./modal.vue";
import { useStore } from "../store";
import { Todo } from "../store/todo";
const props = defineProps<{item:Todo}>();
const { item } = props
const title = ref(item.title ?? '')
const detail = ref(item.body ?? '')
const modalRef = ref()
const store = useStore()

const updateAction = () => {
  const updateItem = {
    id: item.id,
    title: title.value,
    body: detail.value,
    status: "run",
    actionType: "update"
  }
  store.dispatch('addTodoAction',updateItem)
}

const statusAction = (actionType: string) => {
  const updateItem = {
    ...item,
    actionType: actionType
  }
  store.dispatch('addTodoAction',updateItem)
  modalRef.value.modalCloseAction()
}

</script>

<template>
  <div class="modal-box p-1">
    <Modal
      ref="modalRef"
      header-title="todo 詳細"
      :footerView="true"
    >
      <div class="modal-todo">
        <div class="fields">
          <div class="field pb-1">
            <h4 class="title">
              <input
                type="text"
                v-model="title"  
              />
            </h4>
          </div>
          <div class="field pb-1">
            <div class="tags p-1">
              <span class="tag">いつ</span>
            </div>
            <div class="body">
              <textarea
                id=""
                v-model="detail"
                cols="30"
                rows="10"
                >
              </textarea>
            </div>
          </div>
          <div class="field">
            <button @click="updateAction">更新</button>
            <button v-if="item.status === 'archive'" @click="() => statusAction('rerun')">タスク実行に戻す</button>
            <button v-else @click="() => statusAction('archive')">タスク終了</button>
            <button @click="() => statusAction('delete')">タスク削除</button>
          </div>
        </div>
      </div>
    </Modal>
  </div>
</template>

<style scoped>

</style>
