<script setup lang="ts">
import { ref, computed } from 'vue'
import Modal from "./modal.vue";
const modalRef = ref()

import { useStore } from "../store";

const store = useStore()
const envResource = computed(() => {
  return store.state.userInfo.envResource
})

const toolResource = ref(envResource.value.toolResource ?? "0")
const hrInfo = ref(envResource.value.hrInfo ?? "0")
const toolSystemInfo = ref(envResource.value.toolSystemInfo ?? "0")
const financialAffairs = ref(envResource.value.financialAffairs ?? "0")
const timeResource = ref(envResource.value.timeResource ?? "0")
const knowledgeAndSkill = ref(envResource.value.knowledgeAndSkill ?? "0")

const setEnvResourceAction = () => {
  const setItem = {
    toolResource: toolResource.value,
    humanResource: '0',
    hrInfo: hrInfo.value,
    toolSystemInfo: toolSystemInfo.value,
    financialAffairs: financialAffairs.value,
    timeResource: timeResource.value,
    knowledgeAndSkill: knowledgeAndSkill.value
  }
  store.dispatch('setEnvResourceAction',setItem)
}

// const closeAction = () => {
//   modalRef.value.modalCloseAction()
// }

</script>

<template>
  <div class="modal-box p-1">
    <Modal
      ref="modalRef"
      header-title="環境リソース詳細"
      :footerView="true"
    >
      <div class="modal-todo p-1">
        <div class="fields">
          <div class="field pb-1">
            ツール的リソース
            <input type="text" v-model="toolResource" />
          </div>
          <div class="field pb-1">
            人的リソース
            <input type="text" v-model="hrInfo" />
          </div>
          <div class="field pb-1">
            情報リソース
            <input type="text" v-model="toolSystemInfo" />
          </div>
          <div class="field pb-1">
            財務リソース
            <input type="text" v-model="financialAffairs" />
          </div>
          <div class="field pb-1">
            時間
            <input type="text" v-model="timeResource" />
          </div>
          <div class="field pb-1">
            知識とスキル
            <input type="text" v-model="knowledgeAndSkill" />
          </div>
          <div class="field">
            <button @click="setEnvResourceAction">更新</button>
          </div>
        </div>
      </div>
    </Modal>
  </div>
</template>

<style scoped>
</style>
