<script setup lang="ts">
import { ref } from 'vue'
const props = defineProps<{
  btnLabel?: string,
  headerTitle?: string,
  footerView: boolean,
  openView?: boolean
}>()
const { btnLabel, headerTitle, footerView, openView } = props
const modalOpen = ref(openView ?? false)
const modalCloseAction = () => {
  modalOpen.value = false
}
defineExpose({
  modalCloseAction
})
</script>

<template>
  <div class="modal-box">
    <button @click="() => modalOpen = true">{{ btnLabel ? btnLabel : 'open' }}</button>
    <div v-if="modalOpen" class="modal">
      <div class="inner p-1">
        <div class="modal-header">
          <h4 class="title">{{ headerTitle }}</h4>
        </div>
        <div class="modal-content">
          <slot />
        </div>
        <div
          v-if="footerView"
          class="modal-footer">
          <button
            @click="modalCloseAction"
            class="btn">x</button>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 16px;
}
.inner {
  padding: 8px;
  background-color: var(--white-color);
  box-shadow: 0 2px 10px 0 var(--gray-color);
}
</style>
