<script setup lang="ts">
import { ref } from 'vue'
const API_ENDPOINT = "https://api.openai.com/v1/completions";
const API_KEY = "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";

const level = ref("0")
const attainment = ref("0")
const totalrun = ref("0")
const info = ref("情報工学を教えて")

// async function askGPT02(promptText: string) {
//   const response = await fetch(API_ENDPOINT, {
//       method: "POST",
//       headers: {
//         "Content-Type": "application/json",
//       },
//       body: JSON.stringify({
//         "text": promptText,
//        })
//   })

//   if (!response.ok) {
//       throw new Error("API request failed");
//   }
//   const data = await response.json();
//   console.log(data)
// }

async function askGPT(promptText: string) {
  const response = await fetch(API_ENDPOINT, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        'Authorization': 'Bearer ' + API_KEY,
      },
      body: JSON.stringify({
        'model': 'text-davinci-003',
        prompt: promptText,
        max_tokens: 60,
      }),
  })

  if (!response.ok) {
      throw new Error("API request failed");
  }
  const data = await response.json();
  console.log(data)
}

const fetchInfo = () => {
  (async () => {
    await askGPT(info.value)
  })()
    // .then(answer => {
    //     console.log(answer);  // 期待される出力: "Paris"
    // })
    // .catch(error => {
    //     console.error("Error:", error);
    // });
}

</script>

<template>
  <div class="post-user-box box-shadow p-1">
    <div class="fields">
      <div class="field pb-2">
        <input type="text" v-model="info">
        <button @click="fetchInfo">add</button>
        <p></p>
      </div>
      <div class="field pb-2">
        <label for="level" class="label">
          自分がどの位のレベル（字判断）<br />
          <input v-model="level" type="number" id="level" name="">
        </label>
      </div>
      <div class="field pb-2">
        <label for="attainment" min="0" max="100" class="label">
          目標達成率<br />
          <input v-model="attainment" type="number" id="attainment" name="">
        </label>
      </div>
      <div class="field pb-2">
        <label for="totalrun" class="label">
          練習も入れて対処動作は何度？<br />
          <input v-model="totalrun" type="number" min="0" id="totalrun" name="">
        </label>
      </div>
      <div class="field pb-2">
        <button>set</button>
      </div>
      <div class="field">
        どの状態を選ぶとしても目的に回帰します
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
