<script setup lang="ts">
import { ref } from 'vue'
import modalResource from "./modalResource.vue";
import { useStore } from "../store";

const selectValue = ref('E1')

const resourceList = [
  { id: 1, resourceName: 'resource01', value:'E1', detail: 'eijwioejoiwjeoifjwiowe' },
  { id: 2, resourceName: 'resource02', value:'E2', detail: 'eijwioejoiwjeoifjwiowe' },
  { id: 3, resourceName: 'resource03', value:'E3', detail: 'eijwioejoiwjeoifjwiowe' },
]

const store = useStore()

const resourceSelectAction = () => {
  store.dispatch('setResourceInfo',{ level: selectValue.value.replace('E',''), type: '2' })
}

</script>

<template>
  <div class="post-resource-box box-shadow p-1">
    <div class="resource-gurop">
      <div v-for="item in resourceList" class="box pb-1" draggable="true" >
        <label>
          {{ item.resourceName }}
          <input
            type="radio"
            name="resource"
            :checked="selectValue === item.value"
            :value="item.value"
            @change="($event) => {
              const target = $event.target as HTMLInputElement;
              selectValue = target.value
            }"
          />
        </label>
        <modalResource />
      </div>
      <div class="resource-avtion">
        <button @click="resourceSelectAction">set</button>
      </div>
    </div>
  </div>
</template>

<style scoped>
</style>
