<script setup lang="ts">
import { ref, computed, watchEffect, onMounted } from 'vue'
import dayjs from "dayjs";
import { useStore } from "../store";
import { MakeLevelList, ResourceLevelList, ResourceInfo } from "../store/resourceLeveler";
import { TodoList } from "../store/todo";
import ModalTodo from "./modalTodo.vue";
 
const selectResource = ref('0')
const todolist = ref<MakeLevelList>([])
const store = useStore()
const todos = computed<TodoList>(() => {
  return store.state.todos.todoList
})
const resourceLevelList = computed<ResourceLevelList>(() => {
  return store.state.resourcelevelers.resourceLevelList
})
const resourceInfo = computed<ResourceInfo>(() => {
  return store.state.resourcelevelers.resourceInfo
})

watchEffect(() => {
  if(selectResource.value && resourceLevelList.value.length > 0 && resourceLevelList.value[Number(selectResource.value)].makeLevelList) {
    todolist.value = resourceLevelList.value[Number(resourceInfo.value.level)-1].makeLevelList
  }else {
    todolist.value = []
  }
})

onMounted(() => {
  store.dispatch('fetchTodos')
  store.dispatch('fetchResourceLeveler')
})

const curlAction = (title:string, body:string,tag:string) => {
  console.log(title,body,tag)
}

</script>

<template>
  <div
    class="post-view-box p-1"
  >
    <div class="flex">
      <ul class="list flex">
        <li v-for="todo in todos" :id="todo.id" :class="todo.status === 'archive' ? 'item p-1 close w33p' : 'item p-1 w33p'">
          <h3 class="title pb-1">{{ todo.title }}</h3> 
          <p class="pb-1">{{ todo.body }}</p>
          <p>{{ dayjs(todo.created_at).format('YYYYMMDD') }}</p>
          <p>
            <span
              v-for="item in todolist"
              @click="() => curlAction(todo.title,todo.body,item.situationTag)"
              class="tag"
            >
              {{ item.situationTag }}
            </span>
          </p>
          <ModalTodo :item="todo" />
        </li>
      </ul>
    </div>
  </div>
</template>

<style scoped>
</style>
