<script setup lang="ts">
import { ref, computed } from 'vue'
import { useStore } from "../store";
import type { Todo } from "../../types/todo";
import presupposition from "../json/presupposition.json";
const store = useStore()
const title = ref("")
const detail = ref("")
const selectValue = ref("")
const selectSubValue = ref<{id:number; name:string}[]>([])
const list = computed(() => {
  return (store.state.todos.todoList ?? []) as Todo[]
})

const addActionn = () => {
  const item = {
    id: list.value.length + 1,
    title: title.value,
    body: detail.value,
    status: "run",
    actionType: "add"
  }
  store.dispatch('addTodoAction',item)
}

const setSelectInfo = (value:string) => {
  presupposition.forEach((item) => {
    if(value === item.value) {
      selectSubValue.value = item.jobs
    }
  })
}

</script>

<template>
  <div class="post-box p-1">
    <select
      @change="($event: Event) => {
        const element = ($event.target as HTMLInputElement);
        setSelectInfo(element.value);
      }"
    >
      <option
        v-for="item in presupposition"
        :value="item.value"
      >{{ item.name }}</option>
    </select>
    <select name="">
      <option v-for="item in selectSubValue">{{ item.name }}</option>
    </select>
    {{ selectValue }}
    <div class="fields">
      <div class="field">
        <input
          type="text"
          alt=""
          v-model="title"
        />
      </div>
      <div class="field">
        <div class="tags p-1">
          <span class="tag">いつ</span>
          <span class="tag">どこで</span>
          <span class="tag">誰が</span>
          <span class="tag">何を</span>
          <span class="tag">なぜ</span>
        </div> 
      </div>
      <div class="field">
        <textarea
          rows="4"
          cols="30"
          v-model="detail"
        />
      </div>
      <div class="field">
        <button @click="() => addActionn()">ADD</button>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
