:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  
  --main-color: #646cff;
  --sub-color: #454cc9;
  --white-color: #fff;
  --gray-color: #ccc;
  --gray02-color: #515151;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

img {
  max-width: 100%;
}

ul, ol {
  list-style: none;
}

a {
  color: var(--main-color);
  text-decoration: none;
}
a:hover {
  color: var(--main-color);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
input, textarea {
  padding: 8px;
}
input[type='color'] {
  padding: 0;
  background-color: var(--white-color);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-sb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.aitem-center {
  align-items: center;
}

.d-inline-b {
  display: inline-block;
}

.p-1 {
  padding: 8px;
}
.p-2 {
  padding: 16px;
}

.pl-1 {
  padding-left: 8px;
}

.pr-1 {
  padding-right: 1px;
}

.pb-1 {
  padding-bottom: 8px;
}
.pb-2 {
  padding-bottom: 16px;
}

.box-shadow {
  box-shadow: 0 0 10px 0 #ccc;
}

.close {
  background-color: var(--gray02-color);
}

.pointer {
  cursor: pointer;
}

.tag {
  display: inline-block;
  margin: 0 2px;
  padding: 4px;
  background-color: var(--gray02-color);
  border-radius: 4px;
  color: var(--white-color);
}

.item-row {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--main-color);
  transition: background-color 0.2s;
}

.item-row:hover {
  background-color: var(--sub-color);
}

.post-user-box {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 320px;
  padding: 16px;
  background-color: var(--white-color);
}

.post-resource-box {
  position: fixed;
  right: 0;
  bottom: 0;
  max-width: 320px;
  padding: 16px;
  background-color: var(--white-color);
}

.w33p {
  max-width: 33.333%;
  width: 100%;
}

.base-bg {
  background-color: var(--white-color);
}
.float-bg {
  background-color: var(--white-color);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.16);
}

.base-hover {
  position: relative;
}

.base-hover-target {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  display: none;
}

.base-hover:hover .base-hover-target {
  display: block;
}
